@charset "utf-8";

.dark {
  /* background: #060e3f; */
  background: url(../../images/bg2.jpg);
  background-size: 100% 100%;
  color: #fff;
}

.dark .title {
  text-align: center;
  color: #fff;
  font-size: 2.4rem;
}

.dark .title {
  height: 6vh;
  position: relative;
  border-bottom: 0.3vh solid #03a9f48a;
}


.dark .title .time {
  font-size: 1.4rem;
  text-align: right;
}

.dark .title .time i {
  margin-right: 0.5vw;
  position: relative;
  top: 0.5vh;
}

.dark .title .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin: 0 0.5vw;
  background: linear-gradient(to left, #2196f3, #47c2f9, #1686b9);
  -webkit-background-clip: text;
  color: transparent;
}



.dark .title .tools {
  height: 6vh;
  line-height: 6vh;
}

.dark .title .tool_item {
  font-size: 1.4rem;
  cursor: pointer;
}

.dark .title .tool_item i {
  height: 3vh;
  line-height: 3vh;
  margin-right: 0.3vw;
  position: relative;
  top: 0.2vh;
}

.dark .title .tool_item:hover {
  color: #2196f3;
}

.dark .setting_panel .setting_panel_maker {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.dark .setting_panel .inner_contaner {
  position: fixed;
  background: #2196f361;
  border-radius: 0.5vh;
  z-index: 2;
  box-shadow: 0 0.2vw 1vh 0 rgba(0, 0, 0, 0.1);
}

.dark .setting_panel .inner_contaner .settingPanelCloseBtn {
  position: absolute;
  right: -1vh;
  top: -1vh;
  cursor: pointer;
}

.dark .setting_panel .inner_contaner .settingPanelCloseBtn:hover {
  color: #2196f3;
}

.dark .setting_panel .inner_contaner .setting_panel_title {
  height: 6vh;
  line-height: 6vh;
  text-align: center;
  font-size: 2rem;
}

.dark .setting_panel .inner_contaner .settingForm {
  padding-right: 7vw;
}

.dark .setting_panel .inner_contaner .settingForm .el-form-item__label {
  color: #fff;
}
